[submodule "packages/SpeakSwiftly"]
	path = packages/SpeakSwiftly
	url = https://github.com/gaelic-ghost/SpeakSwiftly.git
[submodule "apps/speak-to-user-server"]
	path = apps/speak-to-user-server
	url = https://github.com/gaelic-ghost/speak-to-user-server.git
[submodule "apps/speak-to-user-mcp"]
	path = apps/speak-to-user-mcp
	url = https://github.com/gaelic-ghost/speak-to-user-mcp.git
[submodule "packages/SpeakSwiftlyMCP"]
	path = packages/SpeakSwiftlyMCP
	url = https://github.com/gaelic-ghost/SpeakSwiftlyMCP.git
[submodule "packages/SpeakSwiftlyServer"]
	path = packages/SpeakSwiftlyServer
	url = https://github.com/gaelic-ghost/SpeakSwiftlyServer.git
[submodule "apps/SayBar"]
	path = apps/SayBar
	url = https://github.com/gaelic-ghost/SayBar.git
[submodule "mcps/speak-to-user-dev"]
	path = mcps/speak-to-user-dev
	url = https://github.com/gaelic-ghost/speak-to-user-dev.git
[submodule "packages/TextForSpeech"]
	path = packages/TextForSpeech
	url = https://github.com/gaelic-ghost/TextForSpeech.git
